HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.flattened

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/eps-common/.flattened-pom.xml
/eps-controller/.flattened-pom.xml
/eps-core/.flattened-pom.xml
/eps-demo/.flattened-pom.xml
/eps-sdk/.flattened-pom.xml
/eps-service/.flattened-pom.xml
/.flattened-pom.xml

/hyper-common/.flattened-pom.xml
/hyper-controller/.flattened-pom.xml
/hyper-core/.flattened-pom.xml
/hyper-demo/.flattened-pom.xml
/hyper-sdk/.flattened-pom.xml
/hyper-service/.flattened-pom.xml